registry=https://repo.artifactory-dogen.group.echonet/artifactory/npmjs-cache/npm/-/
strict-ssl=false
timeout=3600000
//repo.artifactory-dogen.group.echonet/artifactory/npmjs-cache/npm/-/:_authToken=${ARTIFACTORY_TOKEN}
